<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<title>Burgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../../public/assets/js/script.js"></script>
	</head>
	<body>
		<div class="container">
			<img src="../../public/assets/images/burger.png" alt="Burger">
			{{{ body }}}
		</div>
	</body>
</html>
