<div class="row">
  <div class="col-6">
    <h3>Devourer a Burger</h3>
    <h6>Click on the burger you want to devourer</h6>
    {{#each burgers}}
      {{#unless this.devoured}}
        <div>
          <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
            <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
          </form>
        </div>
      {{/unless}}
    {{/each}}
  </div>
  
  <div class="col-6">
    <h3>Burgers you Devourer</h3>
    <h6>List of burgers that you have devourered</h6>
    {{#each burgers}}
      {{#if this.devoured}}
        <div class='burgerEaten'>
          <div>
            {{this.burger_name}}
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>



<h2>Add A Burger Option</h2>

<div class="row">
    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Uber Delicious Burger">
      <button type="submit" class="addBurgerButton">Add The Burger</button>
    </form>
</div>