body {
  background-color: #ffd200;
}

h1{
  font-family: 'Baloo Bhai', cursive;
  color: blue;
}

h2 {
  font-family: 'Baloo Bhai', cursive;
  color: blue;
}

#instructions {
  font-family: 'Baloo Bhai', cursive;
  color: blue;
}